/* navbar */
.bg-dark-navbar {
    background-color:#2b3d4f;
}
/* jumbotron */
.bg-project {
    background-color: #1abd9c;
}
/* about */
.btn-bordo {
    border-color: white;
}
section {
    min-height: 500px;
    border: 1px dashed blueviolet;
}
.colonna {
    min-height: 40px;
    background-color: lightseagreen;
    border: 1px dashed black;
}
/* sezione info e form */
.btn-acqua {
    background-color: #1abd9c;
}
.btn-acqua:hover {
    background-color: #1abd9c;
}
#info ::placeholder {
    color:black;
}
/* sezione footer */
.footer-top {
    min-height: 300px;
}
.footer-bottom {
    min-height: 90px;
}
.bg-footer-top {
    background-color: #3a556e;
}
.bg-footer-bottom {
    background-color: #2b3d4f;
}
