header {
    height: 80px;
    background-color: coral;
    border: 1px dashed black;
}
section {
    min-height: 500px;
    border: 1px dashed blueviolet;
}
.colonna {
    min-height: 40px;
    background-color: lightseagreen;
    border: 1px dashed black;
}
